<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/sous_css/style2.css">
    <title>formulaire d'inscription</title>
</head>
<body>


    

    <div class=" container formulaire">
       

        <h1>Inscrivez-vous </h1>

        <form method="post" >
           
            <div class="mb-3 row">
                <!-- <label for="inputnom" class="col-sm-2 col-form-label">Nom :</label> -->
                <div class="col-sm-10 taille">
                    
                  <input type="text" name="nom" class="form-control"  id="nom" placeholder="Nom" >
                </div>
            </div>
            <div class="mb-3 row">
                <!-- <label for="inputprenom" class="col-sm-2 col-form-label" >Prenom:</label> -->
                <div class="col-sm-10 taille">
                  <input type="text" name="prenom" class="form-control"  value="" id="prenom" placeholder="Prenom" >
                </div>
            </div>
            <div class="mb-3 row">
                <!-- <label for="inputPassword" class="col-sm-2 col-form-label">Password: </label> -->
                <div class="col-sm-10 taille">
                <input type="password"  name="password" class="form-control"  value="" id="password" placeholder="Password">
                </div>    
               
            </div>
            <div class="mb-3 row">
                <!-- <label for="inputemail" class="col-sm-2 col-form-label">email:</label> -->
                <div class="col-sm-10 taille">
                <input type="email" name="email" class="form-control"  value="" id="email" placeholder="Email" >
                </div>
            </div>
            <br>
            <div class="mb-3 boutton" >
                <!-- <a href="/index" type="submit" class="btn btn-primary btn-small"><p>Validé</p></a>  -->
                <input type="submit" value="S'inscrire">
            </div>
            
        </form>
   
    </div>
     
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    
</body>
</html>